:root {
    --bg-dark: #0f0f0f;
    --card-bg: #1a1a1a;
    --azul-unitec: #004b93;
    --naranja-unitec: #f39200;
    --texto-blanco: #ffffff;
    --texto-gris: #888888;
    --success: #00ff41; /* Verde matriz/terminal */
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--texto-blanco);
    margin: 0;
}

header {
    background-color: var(--azul-unitec);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--naranja-unitec);
}

.badge {
    border: 1px solid var(--success);
    color: var(--success);
    padding: 5px 15px;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: var(--card-bg);
    border-radius: 4px;
    padding: 25px;
    border: 1px solid #222;
}

.card h3 {
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: var(--naranja-unitec);
    margin-bottom: 20px;
}

.led-status {
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    margin-bottom: 8px;
}

.circle.on {
    background-color: var(--success);
    box-shadow: 0 0 12px var(--success);
}

.led-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
}