<div class="dashboard-grid">
    {% for nombre, info in agentes.items() %}
    <div class="card">
        <h3>Agente: {{ nombre }}</h3>
        <p>Ultima señal: {{ info.hora }}</p>
        
        <div class="led-status">
            <div class="led-indicator">
                <div class="circle {{ 'on' if info.led1 == 1 else '' }}"></div>
                <small>Led 1</small>
            </div>
            <div class="led-indicator">
                <div class="circle {{ 'on' if info.led2 == 1 else '' }}"></div>
                <small>Led 2</small>
            </div>
            <div class="led-indicator">
                <div class="circle {{ 'on' if info.led3 == 1 else '' }}"></div>
                <small>Led 3</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>